AWS_REGION=<region>
AWS_PROFILE=<profile>
AWS_SQS_URL=<queue-url>
AWS_SQS_NAME=<queue-name>
S3_BUCKET=<bucket-name>
OUTPUT_BUCKET=<bucket-name>
DATABASE_HOST=<host>
DATABASE_PORT=<port>
DATABASE_USER_NAME=<user>
DATABASE_PASSWORD=<password>
DATABASE_NAME=<database>
CORS_ORIGIN=<cors-origin>